@import "../../node_modules/bootstrap/scss/functions";

// Original Bootstrap scss files
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans&display=swap");

body,
html,
#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
li,
a,
header,
nav {
  font-family: "Montserrat", sans-serif !important;
}

.menuIcon {
  border: none !important;
}

.react-tabs {
  width: 53vw;
}

.modal-header {
  border-bottom: none !important;
}

.navbar-toggler {
  color: black !important;
}

.nav-link:hover {
  background-color: #f7f7f7;
}

.nav {
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
}

.carousel-inner {
  display: flex;
  align-items: center;
  height: 100%;
  width: 95vw;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
  border-radius: 7px;
}

.carousel-item {
  text-align: center; // Center the content inside each carousel item
  flex: 0 0 auto; // Prevent items from growing and shrinking
}

.carousel-control-next,
.carousel-control-prev {
  background-color: rgb(0 0 0 /20%);
  width: 7%;
  border-radius: 7px 0 0 7px;

  &.carousel-control-next {
    border-radius: 0 7px 7px 0;
  }

  &:hover {
    background-color: rgb(0 0 0 /50%);
  }
}

.react-datepicker__day--selected,
.react-datepicker__day--in-range {
  background-color: #c82867;
}

.react-datepicker__day--disabled {
  text-decoration: line-through;
}

.react-tabs__tab--selected {
  background: #c82867 !important;
  color: white !important;
}

@media screen and (max-width: 871px) {
  .react-tabs__tab-panel {
    display: flex !important;
    flex-direction: column !important;
  }
}

@media (max-width: 536px) {
  .react-tabs {
    width: auto;
  }
}
